*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    height: 100vh;
   display: flex;
    align-items: center;
justify-content: center;
    /* background: #99c089 ; */
}

.calculator{
    border-radius: 8px;
    background: #575757 ;
 padding: 20px;

}
.container .calculator form{
    border-radius: none;
}
.calculator form .display input{
   border-radius: 0;


}
.calculator form input{
    margin: 10px;
    border: 0;
    outline: 0;
    width:60px ;
    height:60px ;
    border-radius:50%;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1), 5px 5px 15px rgba(0,0,0,0.2); 
background: transparent;
font-size: 20px;
color:#fff;
cursor: pointer;
}

.calculator .special{
    background-color: #FF9500 ;
}
.calculator .special-btn{
    color: black;
    background-color: #D4D4D2 ;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin:20px, 0;
    /* border-radius: none; */

}
form .display input{
    text-align: right;
    flex:1;
    font-size: 45px;
    box-shadow: none;
    /* border-radius: none; */

}
form input.equal{
    width: 145px;
    border-radius:10px;
    background-color: #FF9500 ;
}




